 html
    head
    script.
        // Sets the usernames of the current user to be displayed site-wide
        function setUsername(username){
          // ...
        }
        var number = #{number};
        var username = "#{username}";
        setUsername(username);

    body 
        p Welcome  to my site!