<<<<<<< HEAD
doctype  
html  
    head  
        title Family Budget Web Application
    body  
        h1 Welcome To Family Budget Web Application  



=======
 html
    head
    script.
        // Sets the usernames of the current user to be displayed site-wide
        function setUsername(username){
          // ...
        }
        var number = #{number};
        var username = "#{username}";
        setUsername(username);

    body 
        p Welcome  to my site!
>>>>>>> 5711d46628dd407506b7846dff9a1bdd42a86884
