p The total expenses is #{user.report.expense_total[0]["total"]}
p The total income is #{user.report.income_total[0]["total"]}

p The savings of the month is #{user.report.income_total[0]["total"] - user.report.expense_total[0]["total"]}